# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# IDE
.vscode/
.idea/
*.ipynb_checkpoints